.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-Logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #132536;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: rgb(29, 212, 203);
}

.App-link {
  color: rgb(29, 212, 203);
}

@keyframes App-Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
